html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

*{
	background-color: black;
	font-weight: normal;
	font-size: 64px;
	font-family: "Helvetica", sans-serif;
	color: white;
}

#finalCountdown {
	margin:50px auto;
	height: 500px;
	width: 500px;
	text-align: center;


}