html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

*{
	
	font-weight: normal;
	font-size: 108px;
	font-family: "Helvetica", sans-serif;
	color: #454425;
}

body{
	height: 100%;
	width:1368px;
	margin:50px auto;

}

#finalCountdown {
	line-height: 600px;
	margin:50px auto;
	height: 1368px;
	width: 1368px;
	text-align: center;


}