html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

*{
	
	font-weight: normal;
	font-size: 108px;
	font-family: 'Allerta Stencil', 'Michroma', sans-serif;
	color: #454425;
}

body{
	height: 100%;
	width:1368px;
	margin:50px auto;
	background: url("clock_picture.jpg");
	background-repeat: no-repeat;
  background-position: 67px, 0px;
}

#finalCountdown {
	line-height: 600px;
	margin:50px auto;
	height: 600px;
	width: 600px;
	text-align: center;


}