html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

*{
	
	font-weight: normal;
	font-size: 108px;
	font-family: "Helvetica", sans-serif;
	color: #454425;
}



#finalCountdown {
	line-height: 400px;
	margin:50px auto;
	width: 700px;
	text-align: center;


}